
.active {
  background-color: #4CAF50;
}

.morepadding { padding: 1em 5%;}
.titlepadding { padding: 7em 5%;}
.contactpadding { padding: 3em 15%;}
.footerpadding { padding: 1em 15%;}

.what {
  font-size: 28px;
  font-family: 'Outfit';
  font-weight: 100;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 250px;
  background-color: white;
  border-radius: 30px 30px 30px 30px!important;
}

.card:hover {
  box-shadow: 0 40px 80px 0 rgba(0,0,0,0.2);
  background-color: white;
}

.container {
  background-color: white;
  border-radius: 30px 30px 30px 30px!important;
  font-size: 18px;
  font-family: 'Outfit'!important;
  text-align: center;
}

.container2 {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 18px;
  font-family: 'Outfit';
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 17px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 20px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
  font-weight: 500; 
  font-size: 18px;
  font-family: 'Outfit';

}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #FF5757;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Outfit';
}
